.alpha-list {
    counter-reset: list-counter;
    /* Reset the counter for the list */
}

.alpha-list li {
    counter-increment: list-counter;
    /* Increment the counter */
    list-style: none;
    /* Remove bullets */

}

.reduce {
    font-size: 1em !important;
}

.reduce h1 {
    font-size: 1.5em !important;
}

.reduce h2 {
    font-size: 1.2em !important;
}

.alpha-list li::before {
    content: counter(list-counter, upper-alpha) ") ";
    /* Display A), B), C)... */
    font-weight: bold;
    /* Bold letters */
}

.form-table {
    border-collapse: collapse;
    width: 100%;
}

.form-table th,
.form-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.form-table th {
    width: 30%;
}

.form-table td input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-table td input[type="number"] {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-table td input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-table td input[type="submit"]:hover {
    background-color: #45a049;
}

.handwritten-table {
    width: 100%;
    font-size: large;
    /* border-collapse: collapse; */
    /* background-color: #f9f9f9; */
}

.handwritten-table th,
.handwritten-table td {
    border: 1px solid black;
    padding: 8px 15px;
    text-align: left;
    vertical-align: top;
  }
  
  .handwritten-table th {
    font-weight: bold;
    background-color: #eaeaea;
  }
  
  .handwritten-table td {
    height: 50px; /* Ensures there's room to "write" */
    background-image: linear-gradient(transparent 92%, #000 92%); /* Creates a line at the bottom of the cell */
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom 4px;
  }



  .questions {
    counter-reset: question-counter;
}

.questions h2::before {
    counter-increment: question-counter 1;
    content: "Question " counter(question-counter) ") ";
}

