
@media print {
    a,
    body {
        font-size: 1.1em;
        color: black;
    }
    p code,
    ol code,
    ul code,
    figcaption code,
    caption code {
        color: black !important;
        font-size: 1.1em;
    }
    figcaption,
    caption {
        color: black !important;
        font-size: 1em;
    }

    .sourceCode {
        font-size: 1em;
        color: white !important;
    }

  }